#!/bin/bash

LIST_PERMISSION_700=();
LIST_PERMISSION_700+=("~/.shh");

LIST_PERMISSION_600=();
LIST_PERMISSION_600+=("~/.ssh/id_rsa");
LIST_PERMISSION_600+=("~/.ssh/config");

LIST_PERMISSION_644=();
LIST_PERMISSION_644+=("~/.ssh/id_rsa.pub");
LIST_PERMISSION_644+=("~/.ssh/known_hosts");

